{
    "source": "https://github.com/mikevb1/discordbot",
    "userdocs": "https://github.com/mikevb1/discordbot/tree/master/docs",
    "game": "playing game",
    "dbotspw_key": "bots.discord.pw api key",
    "dbotsorg_key": "discordbots.org api key",
    "carbon_key": "carbonitex api key",
    "debug_channel": "channel_id",
    "bot_token": "bot application token"
}
