# Set any variable to `None` if not applicable.

token = 'bot application token'
activity = 'playing'  # playing listening watching
activity_name = 'game name'
prefix = ','

source = 'https://github.com/sgtlaggy/lagbot'

pg_dsn = 'postgres://lagbot:password@localhost:5432/lagbot'
