# Set any variable to `None` if not applicable.

token = 'bot application token'
game = 'playing game'
debug_channel: int = None

source = 'https://github.com/mikevb1/discordbot'

dbotspw_key = 'bots.discord.pw api key'
dbotsorg_key = 'discordbots.org api key'
carbon_key = 'carbonitex api key'
